extends baseOverview
block content
  section.package#package
    .container
      p.section-subtitle Popular Packages
      h2.h2.section-title Checkout Our Packages
      ul.package-list
        each tour in tours
          li
            .package-card
              figure.card-banner
                img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`, loading="lazy")
              .card-content
                h3.h3.card-title= tour.name
                p.card-text= tour.summary
                ul.card-meta-list
                  li.card-meta-item
                    .meta-box
                      ion-icon(name="time")
                      p.text= tour.duration
                  li.card-meta-item
                    .meta-box
                      ion-icon(name="people")
                      p.text= tour.maxGroupSize
                  li.card-meta-item
                    .meta-box
                      ion-icon(name="location")
                      p.text= tour.startLocation.description
              .card-price
                .wrapper
                  p.reviews= `(${tour.ratingsQuantity} reviews)`
                  .card-rating
                    ion-icon(name="star")
                    ion-icon(name="star")
                    ion-icon(name="star")
                    ion-icon(name="star")
                    ion-icon(name="star")
                p.price= `$${tour.price}`
                  span / per person
                a.btn.btn-secondary(href=`/tour/${tour.slug}`) More Details
